<div class="container">
  <div class="bg-1 mt-5 px-4 py-4">
    <div class="mt-2 ml-2">
      <h3>
        Let’s Planning!
      </h3>
      <p>
        Hope you have good trip
      </p>
    </div>
    <div class="bg-2 p-4">
      <!--タイトル-->
      <h4>New Plan</h4>
      <div class="row">
        <div class="col-md-5">
          <!--Google Map API-->
          <div id="map" style="height: 300px; width: 100%;"></div>
          <!--routeに各情報を追加する-->
          <%= form_with model: @route, url: posts_path do |f| %>
            <!--緯度・経度を保存-->
            <%= f.hidden_field :latitude, id: 'latitude' %>
            <%= f.hidden_field :longitude, id: 'longitude' %>
            <!--@post.idをrouteのpost_idに入れる-->
            <%= f.hidden_field :post_id, value: @post.id %>
              <!--場所-->
              <div class="form-group">
                <i class="fa-solid fa-location-dot"></i>
                <%= f.label :spot, "Spot", class: "col-form-label" %>
                <div class="input-group mb-3">
                  <%= f.text_field :spot, class: "form-control", placeholder: "spot", id: "address" %>
                  <div class="input-group-append">
                    <!--名前で場所の検索／緯度・経度取得 -->
                    <button class="btn btn-outline-secondary" onclick="codeAddress();return false;">検索</button>
                  </div>
                </div>
              </div>
              <div class="mb-2">
                <!--日付※必須ではない-->
                <%= f.label :dete, "Date", class: "col-form-label" %>
                <%= f.date_field :date, class: "form-control" %>
              </div>
              <div class="mb-2">
                <!--時間※必須ではない-->
                <%= f.label :time, "Time", class: "col-form-label" %>
                <%= f.time_field :time, class: "form-control" %>
              </div>
              <div class="mb-2">
                <!--写真※必須ではない-->
                <%= f.label :image, "Photo", class: "form-label" %>
                <%= f.file_field :image, accept: "image/*" %>
              </div>
              <div class="mb-2">
                <!--キャプション-->
                <%= f.label :caption, "Caption", class: "col-form-label" %>
                <%= f.text_area :caption, class: "form-control", placeholder: "caption" %>
              </div>
            <div class="mb-5">
              <!--追加ボタン-->
              <%= f.submit 'Add!'%>
            </div>
          <% end %>
        </div>

      <div class="col-md-7">
        <!--routeの投稿が1つでもあればタイトルフォーム以降表示-->
        <% if @post.routes.count > 0 %>
        <!--タイトルフォーム-->
        <%= form_with model: @post, url: post_path(@post), local: true, multipart: true do |f| %>
          <i class="fa-solid fa-bookmark"></i>
          <%= f.text_field :title, placeholder:"Plan title" %>
              <!--routeの投稿内容（下書き）をeachで表示-->
              <% @routes.each do |route|%>
                <p class="card-text mt-2 mb-1">
                  <!--旅行日-->
                  <%= route.date.strftime("%Y-%m-%d") %>
                </p>
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <!--写真-->
                        <%= image_tag route.get_image, size: "150x100" %>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-6">
                              <h5 class="card-title">
                                <i class="fa-solid fa-location-dot"></i>
                                <!--場所-->
                                <%= route.spot %>
                              </h5>
                            </div>
                            <div class="col-3">
                              <p class="card-text">
                                <small class="text-muted">
                                  <!--時間-->
                                  <%= route.time.strftime("%H:%M") %>
                                </small>
                              </p>
                            </div>
                            <div class="col-1">
                              <!--下書き編集-->
                              <%= link_to new_post_path(id: route.id) do %>
                                <i class="fa-solid fa-pen-to-square"></i>
                              <% end %>
                            </div>
                            <div class="col-1">
                              <!--下書き削除-->
                              <%= link_to post_path(route.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                                <i class="fa-solid fa-trash"></i>
                              <% end %>
                            </div>
                          </div>
                          <p class="card-text">
                            <!--下書きキャプション-->
                            <%= route.caption %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <%= f.submit 'Create!' %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<!--GoogleMapのscript-->
<script>
  let map; //変数の定義
  let geocoder; //変数の定義
  let pin = {lat: 35.6594666, lng: 139.7005536};

  function initMap(){ //コールバック関数
    geocoder = new google.maps.Geocoder() //GoogleMapsAPIジオコーディングサービスにアクセス
      map = new google.maps.Map(document.getElementById('map'), { //'map'というidを取得してマップを表示
        center: {lat: pin.lat, lng: pin.lng}, //最初に表示する場所（今回は「渋谷スクランブル交差点」が初期値）
        zoom: 10, //拡大率（1〜21まで設定可能）
      });
      marker = new google.maps.Marker({ //GoogleMapにマーカーを落とす
        position:  {lat: pin.lat, lng: pin.lng}, //マーカーを落とす位置を決める（値はDBに入っている）
        map: map //マーカーを落とすマップを指定
      });

  }
  // 検索ボタン
  function codeAddress(){ //コールバック関数
    let inputAddress = document.getElementById('address').value; //'address'というidの値（value）を取得

    geocoder.geocode( { 'address': inputAddress}, function(results, status) { //ジオコードしたい住所を引数として渡す
      if (status == 'OK') {
        let lat = results[0].geometry.location.lat(); //ジオコードした結果の緯度
        let lng = results[0].geometry.location.lng(); //ジオコードした結果の経度
        let mark = {
            lat: lat, //緯度
            lng: lng  //経度
        };
        pin = mark;
        map.setCenter(results[0].geometry.location); //最も近い、判読可能な住所を取得したい場所の緯度・経度
        let marker = new google.maps.Marker({
            map: map, //マーカーを落とすマップを指定
            position: results[0].geometry.location //マーカーを落とす位置を決める
        });
        $('#latitude').val(lat);
        $('#longitude').val(lng);
      } else {
        alert('該当する結果がありませんでした');
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_KEY"] %>&callback=initMap"></script>
