<div class="container">
  <div class="row">
    <div class="mt-5">
      <h3>Let’s Planning!</h3>
      <p>Hope you have good trip</p>
    </div>
  </div>
  <!--タイトル-->
  <div class="row">
    <div class="mt-5">
      <h4>New Plan</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <!--下書きのフォーム-->
      <div id="map" style="height: 300px;width: 400px;"></div>
      <%= form_with model: @status, url: status_path do |f| %>
        <div class="mb-2">
            <!--場所-->
            <i class="fa-solid fa-location-dot"></i>
            <%= f.label :spot, "Spot", class: "col-form-label" %>
            <!--address'というidの値（value）を取得-->
            <%= f.text_field :spot, class:"form-control", placeholder:"spot", id: "address" %>
            <button onclick="codeAddress();return false;">検索</button>
          </div>
          <div class="mb-2">
            <!--日付※必須ではない-->
            <%= f.label :dete, "Date", class: "col-form-label" %>
            <%= f.date_field :date, class:"form-control" %>
          </div>
          <div class="mb-2">
            <!--時間※必須ではない-->
            <%= f.label :time, "Time", class: "col-form-label" %>
            <%= f.time_field :time, class:"form-control" %>
          </div>
          <div class="mb-2">
            <!--写真※必須ではない-->
            <%= f.label :image, "Photo", class: "form-label" %>
            <%= f.file_field :image, accept: "image/*" %>
          </div>
          <div class="mb-2">
            <!--キャプション-->
            <%= f.label :caption, "Caption", class: "col-form-label" %>
            <%= f.text_area :caption, class:"form-control", placeholder:"caption" %>
        </div>
        <div class="mb-5">
          <!--追加ボタン-->
          <%= f.submit 'Add!'%>
        </div>
      <% end %>
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
      <!--投稿内容確認部分,createで正規投稿-->
      <!--タイトル-->
      <%= form_with model: @post, url: posts_path, local: true, multipart: true do |f| %>
        <%#= f.label :title, class: "col-form-label" %>
        <i class="fa-solid fa-bookmark"></i>
        <%= f.text_field :title, placeholder:"Plan title" %>
        <!--下書きをrouteに代入する-->
          <%#= f.fields_for :route do |s|%>

            <% @statuses.each do |status|%>
              <p class="card-text mt-2 mb-1">
                <%= status.date.strftime("%Y-%m-%d") %>
              </p>
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <%= image_tag status.get_image, size: "150x100" %>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-6">
                            <h5 class="card-title">
                              <i class="fa-solid fa-location-dot"></i>
                              <%= status.spot %>
                            </h5>
                          </div>
                          <div class="col-3">
                            <p class="card-text">
                              <small class="text-muted">
                                <%= status.time.strftime("%H:%M") %>
                              </small>
                            </p>
                          </div>
                          <div class="col-1">
                            <%= link_to new_post_path(id: status.id) do %>
                              <i class="fa-solid fa-pen-to-square"></i>
                            <% end %>
                          </div>
                          <div class="col-1">
                            <%= link_to post_path(status.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                              <i class="fa-solid fa-trash"></i>
                            <% end %>
                          </div>
                        </div>

                        <p class="card-text">
                          <%= status.caption %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
        <% end %>
    </div>
</div>

