<div class="container">
  <div class="bg-1 mt-5 p-4">
    <div class="mt-2 ml-2">
      <div class="row">
        <div class="col-md-2 pr-0">
          <!--ユーザー画像-->
          <%= link_to user_path(@post.user) do %>
          <%= image_tag @post.user.get_profile_image(100,100), class: "rounded-circle" %>
          <% end %>
        </div>
        <div class="col-md-10 px-0">
          <h3 class="d-flex align-items-center">
            <!--ユーザー名-->
            <%= link_to user_path(@post.user) do %>
            <%= @post.user.name %>
            <% end %>
            <span class="small text-info ml-4">
              <% if @post.user == current_user %>
              <% else%>
              <!--フォロー機能-->
                <% if current_user.following?(@post.user) %>
                  <%= link_to "unfollow", user_relationships_path(@post.user.id), method: :delete, class: 'btn btn-outline-info rounded-pill btn-sm' %>
                <% else %>
                  <%= link_to "follow", user_relationships_path(@post.user.id), method: :post, class: 'btn btn-outline-info rounded-pill btn-sm' %>
                <% end %>
              <% end %>
            </span>
          </h3>
          <div>
            <!--フォロー・フォロワーの数-->
            following <%= @post.user.followings.count %> |
            followers <%= @post.user.followers.count %>
          </div>
          <div>
            <!--住んでいる国-->
            <i class="fa-solid fa-location-dot"></i>
            <%= @post.user.country %>
          </div>
          <div>
            <!--ひと言-->
            <%= @post.user.one_word %>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="bg-2 p-4">
        <!--タイトル-->
      <h4 class="d-flex align-items-center">
        <div class="mr-3">
          <i class="fa-solid fa-bookmark"></i>
          <%= @post.title %>
        </div>
        <% if @post.user == current_user %>
          <%= link_to edit_post_path(@post) do %>
          <i class="fa-solid fa-pen-to-square fa-sm"></i>
          <% end %>
          <%= link_to destroy_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ml-3' do %>
            <i class="fa-solid fa-trash fa-sm"></i>
          <% end %>
        <% end %>
      </h4>

    <div class="row">
      <div class="col-md-5">
      <!--Google Map API-->
      <div id="map" style="height: 500px; width: 100%;"></div>
      <div>
          <div class="d-flex text-align-center">
            <div class="mt-2 mr-3">
              <i class="fa-regular fa-comment fa-lg"></i>
              <!--コメント数-->
              <%= @post.comments.count %>
            </div>
            <div class="mt-2">
              <!--お気に入り-->
              <div id="post_<%= @post.id %>">
                <%= render "public/posts/liked", post: @post %>
              </div>

            </div>
          </div>

          <div class="mb-2">
          <%= form_with model: [@post, @comment], class: "d-flex" do |f| %>
          　<!--コメント欄-->
            <%= f.text_area :comment, class: "form-control", placeholder: "comment..." %>
            <span class="btn-sm">
            <%= f.submit "Comment", class: 'btn btn-info rounded-pill' %>
            </span>
          <% end %>
          </div>
          <!--コメント一覧-->
          <% @post.comments.each do |comment| %>
            <div>
              <!--コメントしたユーザーの画像-->
              <%= image_tag comment.user.get_profile_image(40,40), class: "col-md-2 rounded-circle p-2" %>
              <!--コメントしたユーザー名-->
              <%= comment.user.name %>
            </div>
              <!--コメント-->
              <%= comment.comment %>
              <small class="mx-2 text-secondary">
                <!--コメントした日-->
                <%= comment.created_at.strftime('%Y-%m-%d') %>
              </small>
              <!--current_userのみコメント削除可能-->
              <% if comment.user == current_user %>
                <%= link_to post_comment_path(comment.post, comment), method: :delete do %>
                <i class="fa-solid fa-trash"></i>
                <% end %>
              <% end %>
            <% end %>
        </div>
      </div>
      <div class="col-md-7">
      <!--投稿内容-->
      <% @route_group.each do |route_group| %>
        <h5 class="mb-1">
          <%= route_group.first.date.strftime("%Y/%m/%d") %>
        </h5>
        <div class="bg-3 p-3 mb-3">
        <% route_group.each do |route| %>
          <div class="text-left">
            <p class="mb-1">
              <%= route.time.strftime("%H:%M") %>
            </p>
          </div>

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <!--投稿画像-->
                <%= image_tag route.get_image, size: "150x100" %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <i class="fa-solid fa-location-dot"></i>
                    <!--投稿スポット-->
                    <%= route.spot %>
                    </h5>
                  <p class="card-text">
                    <!--投稿キャプション-->
                    <%= route.caption %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
<!--GoogleMapのscript-->
<script>
  let map; //変数の定義
  let geocoder; //変数の定義
  // 最初の観光地を地図上に表示
  let pin = {lat: <%= @post.routes.first.latitude %>, lng: <%= @post.routes.first.longitude %>};

  function initMap(){ //コールバック関数
    geocoder = new google.maps.Geocoder() //GoogleMapsAPIジオコーディングサービスにアクセス
      map = new google.maps.Map(document.getElementById('map'), { //'map'というidを取得してマップを表示
        center: {lat: pin.lat, lng: pin.lng}, //最初に表示する場所
        zoom: 5, //拡大率（1〜21まで設定可能）
      });
      marker = new google.maps.Marker({ //GoogleMapにマーカーを落とす
        position:  {lat: pin.lat, lng: pin.lng}, //マーカーを落とす位置を決める（値はDBに入っている）
        map: map //マーカーを落とすマップを指定
      });
      <% @post.routes.each do |route|%>
        new google.maps.Marker({ //GoogleMapにマーカーを落とす
        position:  {lat: <%= route.latitude %>, lng: <%= route.longitude %>}, //マーカーを落とす位置を決める（値はDBに入っている）
        map: map //マーカーを落とすマップを指定
      });
      <% end %>
    }

  </script>
  <!--callbackでinitMapの呼び出し-->
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_KEY"] %>&callback=initMap"></script>