<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="bg-1 mt-5 p-4">
        <div class="mt-2 ml-2">
          <h3>Let’s Packing!</h3>
          <p>Pack Pack Pack</p>
        </div>
        <!--エラーメッセージ-->
          <% if @pack.errors.any? %>
            <div class="alert alert-warning mt-3">
              <ul style="list-style: none;">
                <% @pack.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <!--タイトルフォーム-->
        <%= form_with model: @pack do |f| %>
          <div class="row">
            <div class="col-xs-3 mb-3">
              <div class="d-flex align-items-center mx-3">
                <i class="fa-solid fa-bookmark mr-2"></i>
                <%= f.text_field :pack_title, class: 'form-control', placeholder: "List Title" %>
              </div>
            </div>
          </div>
        <div class="bg-2 p-4">
          <!--アイテム追加-->
          <h4>Packing Item</h4>
          <%= f.fields_for :packing_lists do |item| %>
            <div class="row">
              <div class="col-xs-3 mb-3">
                <div class="field">
                  <%= render 'packing_list_fields', f: item %>
                </div>
              </div>
            </div>
            <% end %>
            <div class="links my-3">
              <%= link_to_add_association '＋', f, :packing_lists, class: 'btn btn-default btn-light rounded-pill' %>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <%= f.submit "Create List", class: 'btn btn-default btn-info rounded-pill' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>