<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="bg-1 mt-5 p-4">
        <div class="mt-2 ml-2">
          <h3>Let’s Packing!</h3>
          <p>Pack Pack Pack</p>
        </div>
        <div class="row">
          <div class="col-xs-3 mb-3">
            <!--タイトルフォーム-->
            <!--<%#= form_with model: @pack, id: "pack-title", class: 'd-flex align-items-center' do |f| %>-->
            <!--<div class="mx-3">-->
            <!--  <i class="fa-solid fa-bookmark"></i>-->
            <!--</div>-->
            <!--  <%#= f.text_field :pack_title, class: 'form-control', placeholder: "List Title" %>-->
            <!--<%# end %>-->
          </div>
        </div>
        <div class="bg-2 p-4">
          <!--アイテム追加-->
          <h4>Packing Item</h4>

            <%= form_with model: @pack do |f| %>
              <%= f.text_field :pack_title, class: 'form-control', placeholder: "List Title" %>

              <%= f.fields_for :packing_lists do |item| %>
                <div class="field">
                  <%= render 'packing_list_fields', f, :item %>
                </div>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'item add', f, :packing_lists %>
              </div>
              <%= f.submit %>
            <% end %>


          <!--  <%#= form_with model: @item, class: 'd-flex align-items-center' do |f| %>-->
          <!--    <%#= f.text_field :name, class: 'form-control', placeholder: "Item" %>-->
          <!--    <%#= f.submit "add!" , class: 'btn btn-info rounded-pill btn-sm mx-3' %>-->
          <!--  <%# end %>-->
          <!--<hr>-->
          <!--<div class="mt-3">-->
          <!--  <%# @items.each do |item| %>-->
          <!--  <div class="d-flex align-items-center mb-2">-->
          <!--    <%#= form_with model: item, method: :patch, class: 'd-flex w-100' do |f| %>-->
          <!--      <%#= f.text_field :name, class: 'form-control' %>-->
          <!--      <%#= button_tag type: 'submit', class: 'btn btn-default' do %>-->
          <!--        <i class="fa-solid fa-pen-to-square"></i>-->
          <!--      <%# end %>-->
          <!--    <%# end %>-->
          <!--    <%#= link_to item_path(item.id), method: :delete do %>-->
          <!--      <i class="fa-solid fa-trash"></i>-->
          <!--    <%# end %>-->
          <!--  </div>-->
          <!--  <%# end %>-->
          <!--</div>-->
          <!--<%# if @items.count > 0 %>-->
          <!--<div class="d-flex justify-content-center mt-4">-->
          <!--  <%#= button_tag type: 'submit', form: 'pack-title', class: 'btn btn-default btn-info rounded-pill' do %>-->
          <!--    List Create!-->
          <!--  <%# end %>-->
          <!--</div>-->
          <!--<%# end %>-->
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <h4 class="mt-5">
        Memory
      </h4>
      <!--<%# @packs.each do |pack| %>-->
      <!--  <%#= link_to pack_path(pack) do %>-->
      <!--  <div class="card bg-light mb-3" style="max-width: 18rem;">-->
      <!--    <div class="card-body">-->
      <!--      <h5 class="card-title"><%#= pack.pack_title %></h5>-->
      <!--      <p class="card-text"><%#= pack.created_at.strftime('%Y/%m/%d') %></p>-->
      <!--      <%# end %>-->
      <!--    </div>-->
      <!--  </div>-->

      <!--<%# end %>-->

      </div>
    </div>
  </div>
</div>