<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="bg-1 mt-5 p-4">
        <div class="mt-2 ml-2">
          <div class="row">
            <!--ユーザー画像-->
            <%= image_tag @user.get_profile_image(100,100), class: "col-md-2 rounded-circle p-2 ml-3 mb-3" %>
            <div class="col-md-8">
              <h3 class="d-flex align-items-center">
                <!--ユーザー名-->
                <%= @user.name %>
                <!--current_userなら編集ボタン表示／それ以外はフォローボタン-->
                <div class="ml-2">
                <% if @user == current_user %>
                  <%= link_to edit_user_path(@user.id) do %>
                  <i class="fa-solid fa-pen-to-square fa-sm"></i>
                  <% end %>
                <% else %>
                  <span class="small ml-2 text-info">
                    <% if current_user.following?(@user) %>
                      <%= link_to "unfollow", user_relationships_path(@user.id), method: :delete, class: 'btn btn-outline-info rounded-pill btn-sm' %>
                    <% else %>
                      <%= link_to "follow", user_relationships_path(@user.id), method: :post, class: 'btn btn-outline-info rounded-pill btn-sm' %>
                    <% end %>
                  </span>
                <% end %>
                </div>
              </h3>
              <div>
                following <%= @user.followings.count %> |
                followers <%= @user.followers.count %>
              </div>
              <div>
                <i class="fa-solid fa-location-dot"></i>
                <%= @user.country %>
              </div>
              <div>
                <%= @user.one_word %>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-2 p-3">

          <ul class="nav nav-tabs">
            <li class="nav-item">
              <% if @user == current_user %>
                <%= link_to 'My Plan', user_path(@user),class: 'nav-link active', 'aria-current': :page %>
              <% else %>
                <%= link_to 'Trip Plan', user_path(@user),class: 'nav-link active', 'aria-current': :page %>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to 'Favorite Plan', user_likes_path(@user), class: 'nav-link disabled', tabindex: '-1', 'aria-disabled': :true %>
            </li>
          </ul>

          <div class="row row-cols-1 row-cols-md-3 g-4">
            <% @like_posts.each do |post|%>
              <div class="col">
               <div class="my-2 mt-3">
                <div class="card bg-dark text-white">
                  <!--投稿画像-->
                  <img src="https://picsum.photos/200/250" class="card-img" >
                  <div class="card-img-overlay">
                    <h5 class="card-title">
                      <!--投稿タイトル-->
                      <%= link_to post.title, post_path(post.id) %>
                    </h5>
                    <div class="row">
                      <div class="col-4 mt-2 pr-0">
                        <!--コメント数-->
                        <i class="fa-regular fa-comment fa-lg"></i>
                        <%= post.comments.count %>
                      </div>
                      <div class="col-8 mt-2 p-0">
                        <!--お気に入り-->
                        <i class="fa-regular fa-heart fa-lg"></i>
                        <%= post.likes.count %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <div class="pagination justify-content-center mt-2">
          <%= paginate @posts %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <% if @user == current_user %>
      <!--ログインしているユーザーのスケジュール-->
      <h4 class="mt-5">
        Schedule
      </h4>

      <% end %>
      <h4 class="mt-5">
        Following
      </h4>
      <div>
        <!--フォローしている人一覧-->
        <% @users.each do |user| %>
          <div class="mb-3 pr-0">
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image(70,70), class: "rounded-circle" %>
            <%= user.name %>
          <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate @users, :param_name => 'user_page'%>
      <!--お気に入りプラン一覧-->
      <!--<h4 class="mt-5">-->
      <!--  Favorite Plan-->
      <!--</h4>-->

      <!--<%# @like_posts.each do |post|%>-->
      <!--<div class="card mb-2" style="width: auto;">-->
      <!--  <div class="row g-0">-->
      <!--    <div class="col-md-3">-->
      <!--      <img src="https://picsum.photos/70/100">-->
      <!--    </div>-->
      <!--    <div class="col-md-9">-->
      <!--      <div class="card-body">-->
              <%#= link_to image_tag( post.image.variant(resize: '100x100') ), post_path(post.id) %>
      <!--        <h6 class="card-title">-->

      <!--        </h6>-->
      <!--        <p class="card-text">-->
      <!--          <small class="text-muted">-->
      <!--            <%#= link_to post.user.name, user_path(post.user.id) %>-->
      <!--          </small>-->
      <!--        </p>-->
      <!--      </div>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
      <!--<%# end %>-->

    </div>
  </div>
</div>
