<div class="container">
  <div class="bg-1 mt-5 p-4">
    <div class="mt-2 ml-2">
      <h3>
        <i class="fas fa-user fa-fw"></i>
        User detail
      </h3>
      <p>You can edit user</p>
    </div>
    <div class="mt-4">
      <div class="bg-2 p-4">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">User ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Status</th>
              <th scope="col">Chenge status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                <div class="pt-2 offset-2">
                <%= @user.id %>
                </div>
              </th>
              <td class="pt-3">
                <%= @user.name %>
              </td>
              <td class="pt-3">
                <%= @user.email %>
              </td>
              <td class="pt-3">
                <% if @user.is_deleted == false %>
                  <strong>
                    <p class="text-success">
                      valid
                    </p>
                  </strong>
                <% else %>
                  <strong>
                    <p class="text-black-50">
                      invalid
                    </p>
                  </strong>
                <% end %>
              </td>
              <td class= "text-white">
                <% if @user.is_deleted == false %>
                  <%= link_to 'To invalid', admin_user_path(@user.id), method: :patch, class: "btn btn-danger" %>
                <% else %>
                  <%= link_to 'To valid', admin_user_path(@user.id), method: :patch, class: "btn btn-success" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
  　   </div>

  　</div>
  </div>
</div>