<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="bg-1 mt-5 p-4">
        <div class="mt-2 ml-2">
          <div class="row">
            <!--ユーザー画像-->
            <%= image_tag @user.get_profile_image(100,100), class: "col-md-2 rounded-circle p-2 ml-3 mb-3" %>
            <div class="col-md-8">
              <h3 class="d-flex align-items-center">
                <!--ユーザー名-->
                <%= @user.name %>
                <!--current_userなら編集ボタン表示／それ以外はフォローボタン-->
                <div class="ml-2">
                <% if @user == current_user %>
                  <%= link_to edit_user_path(@user.id) do %>
                  <i class="fa-solid fa-pen-to-square fa-sm"></i>
                  <% end %>
                <% else %>
                  <span class="small ml-2 text-info">
                    <% if current_user.following?(@post.user) %>
                      <%= link_to "unfollow", user_relationships_path(@post.user.id), method: :delete, class: 'btn btn-outline-info rounded-pill btn-sm' %>
                    <% else %>
                      <%= link_to "follow", user_relationships_path(@post.user.id), method: :post, class: 'btn btn-outline-info rounded-pill btn-sm' %>
                    <% end %>
                  </span>
                <% end %>
                </div>
              </h3>
              <div>
                following <%= @post.user.followings.count %> |
                followers <%= @post.user.followers.count %>
              </div>
              <div>
                <i class="fa-solid fa-location-dot"></i>
                <%= @user.country %>
              </div>
              <div>
                <%= @user.one_word %>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-2 p-3">
          <h4>My Plan</h4>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <% @posts.each do |post| %>
              <div class="col">
               <div class="my-2">
                <div class="card bg-dark text-white">
                  <!--投稿画像-->
                  <img src="https://picsum.photos/200/250" class="card-img" >
                  <div class="card-img-overlay">
                    <h5 class="card-title">
                      <!--投稿タイトル-->
                      <%= link_to post.title, post_path(post) %>
                    </h5>
                    <div class="row">
                      <div class="col-4 mt-2 pr-0">
                        <!--コメント数-->
                        <i class="fa-regular fa-comment fa-lg"></i>
                        <%= post.comments.count %>
                      </div>
                      <div class="col-8 mt-2 p-0">
                        <!--お気に入り-->
                        <i class="fa-regular fa-heart fa-lg"></i>
                        <%= post.likes.count %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <div class="pagination justify-content-center mt-2">
          <%= paginate @posts %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <% if @user == current_user %>
      <h4 class="mt-5">
        Schedule
      </h4>
      <% end %>
      <h4 class="mt-5">
        Following
      </h4>
      <div>
        <% @users.each do |user| %>
          <div class="mb-3 pr-0">
          <%= image_tag user.get_profile_image(70,70), class: "rounded-circle" %>
          <%= user.name %>
          </div>
        <% end %>
      </div>

      <%# @users.each do |user|%>
        <div class="mb-3">
          <%#= image_tag user.get_profile_image(70,70), class: "rounded-circle" %>
          <%#= user.name %>
        </div>
      <%# end %>
      <h4 class="mt-5">
        Favorite Plan
      </h4>
    </div>
  </div>
</div>
