<header>
  <div class="container">
    <div class="row">
      <div class="bg-5">
        <!--リストをサイドに固定-->
        <div class="sidebox" data-spy="affix" data-offset-top="100">
        <!--ロゴ-->
          <div class="mt-2 mb-4">
            <a href="/">
              <%= image_tag "tabitomologo.png", size: "160x160" %>
            </a>
          </div>
          <!--ナビゲーションバー-->
          <div class="text-info">
            <ul class="nav flex-column list-unstyled">
              <% if admin_signed_in? %>
              <!--Adminログイン時-->
                <div class="mb-2">
                  <li class="nav-item">
                    <%= link_to admin_users_path, class: 'btn btn-outline-info btn-block btn-lg' do %>
                      <i class="fas fa-user fa-fw"></i>
                      Users
                    <% end %>
                  </li>
                </div>
                <li class="nav-item">
                  <%= link_to destroy_admin_session_path, method: :delete, class: 'btn btn-outline-info btn-block btn-lg' do %>
                    <i class="fa-solid fa-right-from-bracket fa-fw"></i>
                    Log out
                  <% end %>
                </li>
              <% elsif user_signed_in? %>
                <!--Userログイン時-->
                <!--ダッシュボード-->
                <div class="mb-2">
                  <li class="nav-item">
                    <%= link_to root_path, class: 'btn btn-outline-info btn-block btn-lg' do %>
                      <i class="fas fa-home fa-fw"></i>
                      Dashboard
                    <% end %>
                  </li>
                </div>
                <!--マイページ-->
                <% if current_user.email != 'guest@example.com' %>
                  <div class="mb-2">
                    <li class="nav-item">
                      <%= link_to user_path(current_user.id), class: 'btn btn-outline-info btn-block btn-lg' do %>
                        <i class="fas fa-user fa-fw"></i>
                        Mypage
                      <% end %>
                    </li>
                  </div>
                <% end %>
                <!--パッキング-->
                <div class="mb-2">
                <li class="nav-item">
                  <%= link_to packs_path, class: 'btn btn-outline-info btn-block btn-lg' do %>
                    <i class="fas fa-suitcase-rolling fa-fw"></i>
                    Packing
                  <% end %>
                </li>
                </div>
                <!--プランニング-->
                <div class="mb-2">
                <li class="nav-item">
                  <%= link_to new_post_path, class: 'btn btn-outline-info btn-block btn-lg' do %>
                    <i class="fas fa-plane fa-fw"></i>
                    Planning
                  <% end %>
                </li>
                </div>
                <!--ログアウト-->
                <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-outline-info btn-block btn-lg' do %>
                    <i class="fa-solid fa-right-from-bracket fa-fw"></i>
                    Log out
                  <% end %>
                </li>
              <% else %>
                <!--User未ログイン時-->
                <!--ダッシュボード-->
                <div class="mb-2">
                  <li class="nav-item">
                    <%= link_to root_path, class: 'btn btn-outline-info btn-block btn-lg' do %>
                      <i class="fas fa-home fa-fw"></i>
                      Dashboard
                    <% end %>
                  </li>
                </div>
                 <!--ゲストログイン-->
                <div class="mb-2">
                  <li class="nav-item">
                    <%#= link_to root_path, class: 'btn btn-outline-info btn-block btn-lg' do %>
                    <%= link_to public_guest_sign_in_path, method: :post, class: 'login btn btn-outline-info btn-block btn-lg' do %>
                      <i class="fas fa-laugh fa-fw"></i>
                      Guest
                    <% end %>
                  </li>
                </div>
                <!--ログイン-->
                <div class="mb-2">
                  <li class="nav-item">
                    <%= link_to new_user_session_path, class: 'btn btn-outline-info btn-block btn-lg' do %>
                      <i class="fa-solid fa-right-to-bracket fa-fw"></i>
                      Login
                    <% end %>
                  </li>
                </div>
                <!--新規登録-->
                <li class="nav-item">
                  <%= link_to new_user_registration_path, class: 'btn btn-outline-info btn-block btn-lg' do %>
                    <i class="fa-solid fa-user-plus fa-fw"></i>
                    Sign up
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="triangle"></div>
    </div>
  </div>
</header>