<header>
  <div class="container">
    <div class="row">
      <div class="mt-3">
        <!--リストをサイドに固定-->
        <div class="sidebox" data-spy="affix" data-offset-top="100">
        <!--ロゴ-->
          <a href="/">
            <%= image_tag "tabitomologo.png", size: "160x160" %>
          </a>
          <!--ナビゲーションバー-->
          <ul class="nav flex-column list-unstyled">
            <!--Userログイン時ここから-->
            <% if user_signed_in? %>
              <!--ダッシュボード-->
              <li class="nav-item">
                <%=link_to root_path, class: 'nav-link active' do %>
                  <i class="fas fa-home"></i>
                  Dashboard
                <% end %>
              </li>
              <!--マイページ-->
              <li class="nav-item">
                <%=link_to root_path, class: 'nav-link active' do %>
                  <i class="fas fa-user"></i>
                  Mypage
                <% end %>
              </li>
              <!--パッキング-->
              <li class="nav-item">
                <%=link_to root_path, class: 'nav-link active' do %>
                  <i class="fas fa-suitcase-rolling"></i>
                  Packing
                <% end %>
              </li>
              <!--プランニング-->
              <li class="nav-item">
                <%=link_to new_post_path, class: 'nav-link active' do %>
                  <i class="fas fa-plane"></i>
                  Planning
                <% end %>
              </li>
              <!--ログアウト-->
              <li class="nav-item">
                <%=link_to root_path, class: 'nav-link active' do %>
                  <i class="fa-solid fa-right-from-bracket"></i>
                  Log out
                <% end %>
              </li>
                <!--ここまで-->
              <% else %>
               <!--ダッシュボード-->
              <li class="nav-item">
                <%=link_to root_path, class: 'nav-link active' do %>
                  <i class="fas fa-home"></i>
                  Dashboard
                <% end %>
              </li>
              <!--ログイン-->
              <li class="nav-item">
                <%=link_to root_path, class: 'nav-link active' do %>
                  <i class="fa-solid fa-right-to-bracket"></i>
                  Log in
                <% end %>
              </li>
              <!--新規登録-->
              <li class="nav-item">
                <%=link_to root_path, class: 'nav-link active' do %>
                  <i class="fa-solid fa-user-plus"></i>
                  New account
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>